modules = ["nodejs-20", "web"]
run = "run = \"python3 -m http.server 3000\""

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "run = \"python3 -m http.server 3000\""]

[workflows]
runButton = "Web Server"

[[workflows.workflow]]
name = "Web Server"
author = 43289476
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server -p 3000"
